.navbar{
    height : "90px";
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.dropdownbtn{
    margin-top: 5px;
}

.dropdownbtntext{
    font-family: revert;
}

.navbar_title{
    background: #0F2B61;
    width: 24%;
    padding: 1.5% 4% 1% 2%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 5%;
}


.navbar_title_font{
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.navbar_subtitle_fonts{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    align-items: center;
    color: #0F2B61;
}

.navbar_title_last{
    width: 210px;
    background: #FF5601;
    height: inherit;
    padding: 35px 51px 34px 52px;
    text-align: center;
}

.navbar_title_last_font{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Section1{
    background: url(https://americancompo.s3.ap-south-1.amazonaws.com/Hero+Banner.png) no-repeat center center;
    background-size: cover;
    height: 600px;
    justify-content: space-around;
}

.dropbtn{
    gap: 78px;
}


.Section1_Heading1{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}

.Section1_info{
    width: 545px;
    margin-top: 7%;
}

.Section1_Heading2{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    text-align: left;
    color: #FFFFFF;
}

.Section1_Heading3{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}

.Section1_Heading4{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}

.Section1_form{
    width: 460px;
    height: 505px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    padding: 55px 35px 45px 35px;
}

.Section1_form_heading1{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #0F2B61;
    opacity: 0.5;
    text-align: left;
}

.Section1_form_heading2{
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    color: #0F2B61;
    padding-right: 40px;
}

.Section1_form_input{
    width: 390px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #C5CEDF;
    border-radius: 5px;
    margin-top: 15px;
    padding: 16px;
    border-right: 16px solid transparent;
    outline: 1px solid;
    font-family: revert;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #0F2B61;
    opacity: 0.5;
}

.Section1_form_button{
    margin-top: 20px;
    width: 390px;
    height: 80px;
    background: #FF5601;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}

.Section1_form_heading3{    
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #0F2B61;
    opacity: 0.5;
    margin-top: 23px;
}

.Section6_image{
    width: 100%;
    height: 350px;
}

.Section6_1{
    width: 100%;
    position: relative;
}

.Section6_heading{
    color: #fff !important;
    text-transform: capitalize;
    text-align: left;
    opacity: 1;
    font-size: 54px !important;
    position: absolute;
    top: 120px;
    margin-left: 61px;
    font-weight: 600;
}

.Section6_heading1{
    text-align: left;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 600;
}

.Section6_heading1{
    text-align: left;
    font-family: "Montserrat",sans-serif !important;
    font-weight: 400;
}

.Section6_2{
    text-align: left;
    margin-top: 50px;
    width: 80%;
}

.Section6_3{
    margin-top: 50px;
    background-color: rgba(23,44,77,.8);
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
}

.Section6_heading1_1{
    text-align: left;
    font-size: 28px;
    line-height: 1.4;
    color: #fff;
}

.Section6_heading2_1{
    text-align: left;
    font-family: "Montserrat",sans-serif !important;
    font-weight: 400;
    color: #fff;
    width: 80%;
}

.Section6_2_1{
    margin-left: 50px
}

.Section6_2_form_box{
    background: #0F2B61;
    padding: 10px 20px;
    width: 25%;
}

.Section6_2_inputbox{
    flex-direction: column;
    margin-top: 20px;
}

.Section4_2_input{
    width: 100%;
    height: 50px;
}

.messbox{
    height: 100%;
}

.Section6_2_form_button{
    width: 100%;
    height: 50px;
    background: #FF5601;
    border-radius: 5px;
    border: 0px;
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.Section6_2_heding1{
    font-family: revert;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}